div{
    height: 419px;
}

h1{
    text-align: center;
    margin-top: 300px;
    font-size: 5rem;
    background-image: linear-gradient(to right, #b993d6, #8ca6db); 
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}