<app-navbar></app-navbar>

<h1 class="novedades">¡Novedades! 🆕</h1>

<div class="col-12 col-md-4 mb-3 mx-auto filtro-estilo">
  <label for="style" class="text-center d-block label-filtro">Filtra por estilo</label>
  <input type="text" [(ngModel)]="styleFilter" name="style" class="form-control filtros">
</div>

<div class="button-container text-center">
  <div class="mx-auto">
    <button id="btnFilter" class="btn btn-secondary flex-grow buscar" (click)="searchByFilters()">Buscar</button>
    <button class="btn btn-secondary limpiar" (click)="limpiarCampos()">Limpiar campos</button>
  </div>
</div>


<div class="song-card-container">
    <div class="song-card" *ngFor="let song of songsByIdDesc">
      <a [routerLink]="['/song', song.id]">
      <img class="song-image" [src]="'data:image/webp;base64,' + song.image" alt="Imagen de la canción">
    </a>
      <div class="song-details">
        <h2 class="song-name">{{ song.name }}</h2>
        <p class="song-artist">{{ song.artist }}</p>
        <p class="song-style">{{ song.style }}</p>
    </div>
    </div>
  </div>

  <h1>¡Lo más escuchado! 🔥</h1>
  
  

  <div class="song-card-container-popular">
    <div class="song-card" *ngFor="let song of songsByReproductionsAsc">
      <a [routerLink]="['/song', song.id]">
        <img class="song-image" [src]="'data:image/webp;base64,' + song.image" alt="Imagen de la canción">
    </a>
      <div class="song-details">
        <h2 class="song-name">{{ song.name }}</h2>
        <p class="song-artist">{{ song.artist }}</p>
        <p class="song-style">{{ song.style }}</p>
    </div>
    </div>
  </div>

  <h1>Especialmente para ti 🎶</h1>

  <div class="song-card-container-popular">
    <div class="song-card" *ngFor="let song of topSongs">
      <a [routerLink]="['/song', song.id]">
        <img class="song-image" [src]="'data:image/webp;base64,' + song.image" alt="Imagen de la canción">
    </a>
      <div class="song-details">
        <h2 class="song-name">{{ song.name }}</h2>
        <p class="song-artist">{{ song.artist }}</p>
        <p class="song-style">{{ song.style }}</p>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <a [routerLink]="['/all']" class="all-songs">Ver todas las canciones →</a>
        </div>
    </div>
</div>
  
  
  
